modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["uv", "api/main.py"]

[env]
PYTHON_PACKAGES = ".pythonlibs"

[languages.python]
pattern = "**/*.py"
syntax = "python"
entrypoint = "api/main.py"

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[[ports]]
localPort = 5015
externalPort = 80

[[ports]]
localPort = 3015
externalPort = 3015

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow]]
name = "Flask Backend Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd api && python main.py"
waitForPort = 5015

[[workflows.workflow]]
name = "Frontend Node / Vite Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && pnpm install && pnpm run dev"
waitForPort = 3015
